.app {
  background: url('https://blackrockdigital.github.io/startbootstrap-grayscale/img/bg-masthead.jpg');
  background-position: left;
  background-size: cover;
  min-height: 100vh;
}

nav {
  background: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.brand {
  font-size: large;
  font-weight: bold;
}

.large {
  display: none;
}

@media (min-width: 650px) {
  .large {
    display: initial;
  }

  .small {
    display: none;
  }

  nav {
    background: transparent;
    height: 100px;
    color: white;
    padding: 0 50px;
  }
}