.app {
  background-image: url('https://blackrockdigital.github.io/startbootstrap-grayscale/img/bg-masthead.jpg');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

nav {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between; /* This puts mystyle site and menu on different sides of the navbar */
  align-items: center; /* this puts them vertically center */
  padding: 0 20px;
}

.brand {
  font-weight: bold;
  font-size: 24px;
}

.large {
  display: none;
}

.animations {
  display: flex;
  justify-content: space-around;
}

.square {
  width: 100px;
  height: 100px;
  background-color: violet;
  font-family: 'Raleway', sans-serif;
}

.my-animation {
  animation-name: color-slide;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes color-slide {
  0% {
    background-color: violet;
    font-weight: 100;
  }

  100% {
    background-color: green;
    font-weight: 900;
    transform: rotate(3turn) rotateY(360deg);
  }
}

@media (min-width: 850px) {
  .large {
    display: initial;
  }
  .small {
    display: none;
  }

  nav {
    background: transparent;
    height: 80px;
    color: white;
    padding: 0 80px;
  }
}